.container {
  max-width: 760px;
}

#tester {
 background-color: red;
}

#list_item_holder {

}


    #push{
      background-color: black;
      z-index: 20;
      height: 100px;
    }

    #break_before_footer {
      height: 40px;
    }

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}


    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      min-height: 80px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      
      border: 1px solid #ddd;
      background-color: rgba(86,61,124,.15);
      border: 1px solid rgba(86,61,124,.2);
      
    }

      .list_item_header {
        background-color: yellow;
        width: 90%;
        margin: auto;
      }

      .list_item_body {
        background-color: orange;
        width: 90%;
        margin: auto;
      }

    #list_title_entry, #list_text_entry {
      width: 100%;
      max-width: 100%;
    }

    #new_edit_button, #new_delete_button {
      margin: 10px;
    }

#modal-header {
  height: 300px;
  
}

  #myModalLabel {
    
  }

  #green {
    background-color: green;
  }
  #red {
    background-color: red;
  }

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


/*FOOTER*/
html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto;
        background-color: gray;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      
        background-color: #f5f5f5;
        background-color: blue;

      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
